#soldier_profiles{
  .soldier_profile{
    padding: 20px;
    .soldier_photo{

    }
    .soldier_bio{

    }
    .soldier_incident{

    }
  }

}

#charts{
  & > div{
    float: left;
    width: 400px;
    margin: 15px;
    &#chart_date_died{
      float: none;
      clear: both;
      width: 100%;
      margin: 15px;
    }
  }
}
