@import "twitter/bootstrap/mixins";

#thumbs {
  & > ul > li {
    display: block;
    float: left;
    width: 5.882352941%;
    margin: 0px;
    a {
      display: block;
      position: relative;
      background-color: #fff;
      &:hover img:last-child, img:first-child, &.active img:last-child {
        .opacity(100);
      }
      &:hover img:first-child, img:last-child, &.active img:first-child {
        .opacity(0);
      }
      img {
        display: block;
        position: relative;
        z-index: 1;
        .transition(opacity .25s linear);
        &:last-child {
          position: absolute;
          z-index: 2;
          top: 0px;
          left: 0px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  #thumbs ul > li {
    width: 8.333333333%;
  }
}

@media (max-width: 600px) {
  #thumbs ul > li {
    width: 11.111111111%;
  }
}

.actualheight {
  position: absolute;
  top: 0px;
  height: auto !important;
  visibility: hidden;
  display: block !important;
}

#soldier_profiles {
  position: relative;
  .soldier_profile{
    padding: 20px;
    display: none;

    &.absolute {
      position: absolute;
      top: 0px;
      left: 0px;
    }

    .soldier_photo{

    }
    .soldier_bio{
      h2 .social_profile {
        display: inline-block;
        cursor: pointer;
        .opacity(50);
        .transition(opacity .3s);

        .social_profile_hover {
          cursor: pointer;
          display: none;
          transition: display 0.5s ease;
        }
        &:hover {
          .opacity(100);
          .social_profile_hover{
            display: inline-block;
            vertical-align: middle;
          }
        }
        & > img {
          display: inline-block;
          vertical-align: middle;
        }
      }

    }
    .soldier_incident{

    }
    .soldier_nav{
      li {
        a {
          display: block;
          position: relative;
          &:hover img:last-child, img:first-child, &.active img:last-child {
            .opacity(100);
          }
          &:hover img:first-child, img:last-child, &.active img:first-child {
            .opacity(0);
          }
          img {
            display: block;
            position: relative;
            z-index: 1;
            .transition(opacity .25s linear);
            &:last-child {
              position: absolute;
              z-index: 2;
              top: 0px;
              left: 0px;
            }
          }
        }
      }
    }
  }

}

#charts{
  width: 1000px;
  margin: 0px auto;
  background-color: #fff;
  text-align: center;
  & > div{
    vertical-align: top;
    display: inline-block;
    width: 200px;
    height: 125px;
    margin: 15px;
    &#chart_rank, &#chart_served_with, &#chart_incident_description{
      width: 300px;
      min-height: 155px;
    }
    &#chart_date_died{
      display: block;
      width: 95%;
      min-height: 250px;
      margin: 15px auto;
    }
  }

  .highcharts-title{
    fill: #a31e33 !important;
    color: #a31e33 !important;
    font-size: 10px !important;
    text-transform: uppercase;
    font-weight: bold;
  }
  .highcharts-axis-labels, .highcharts-data-labels{
    font-size: 5px !important;
  }

  .highcharts-contextmenu{
    top: 8px;
  }
  
  .highcharts-series rect:hover{
    cursor: pointer;
  }
}

#maps{
  background: url('map-bg.jpg') center top no-repeat;
  background-size: cover;
  padding: 20px;
  text-align: center;  
  color: #fff;  
  text-transform: uppercase;
  font-family: gotham_medium;
  font-weight: normal;
  #map_container{
    text-align: center;  
    & > div{
      display: inline-block;
      width: 350px;
      position: relative;
      h3 {
        color: #fff;  
        text-align: center;
        font-size: 14px;
      }

      .tooltip{
        text-align: center;
        color: #000; 
        background: #fff; 
        padding: .5em; 
        text-shadow: #f5f5f5 0 1px 0;
        border-radius: 2px; 
        box-shadow: 0px 0px 2px 0px #a6a6a6; 
        opacity: 0.9; 
        position: absolute;
        &.hidden{
          display: none;
        }
      }

      svg g path{
        fill: #fff;
        stroke: #000;

        &:hover{
          cursor: pointer;
        }

        &.map_color_highlight{
          fill: #ab9b4d;
        }

        &.map_color0{
          fill: #fff;
        }
        &.map_color1{
          fill: #edd2d7;
        }
        &.map_color2{
          fill: #daa5ae;
        }
        &.map_color3{
          fill: #c87786;
        }
        &.map_color4{
          fill: #b54a5d;
        }
        &.map_color5{
          fill: #a31d35;
        }

/*        
        &.map_color0{
          fill: #fff;
        }
        &.map_color1{
          fill: #f6e8ea;
        }
        &.map_color2{
          fill: #edd2d7;
        }
        &.map_color3{
          fill: #e3bbc2;
        }
        &.map_color4{
          fill: #daa5ae;
        }
        &.map_color5{
          fill: #d18e9a;
        }
        &.map_color6{
          fill: #c87786;
        }
        &.map_color7{
          fill: #be6071;
        }
        &.map_color8{
          fill: #b54a5d;
        }
        &.map_color9{
          fill: #ac3349;
        }
        &.map_color10{
          fill: #a31d35;
        }
*/      
      } 
    }
  }
  #map_legend{
    text-align: center;
    color: #fff;  
    font-size: 12px;
    div {
      line-height: normal;
      margin: 2px 4px;
      display: inline-block;
      span
      {
        display: block;
        float: left;
        width: 12px;
        height: 12px;
        margin-right: 4px;
        border: solid 1px #000;

        &.map_color0{
          background-color: #fff;
        }
        &.map_color1{
          background-color: #edd2d7;
        }
        &.map_color2{
          background-color: #daa5ae;
        }
        &.map_color3{
          background-color: #c87786;
        }
        &.map_color4{
          background-color: #b54a5d;
        }
        &.map_color5{
          background-color: #a31d35;
        }

/*
        &.map_color0{
          background-color: #fff;
        }
        &.map_color1{
          background-color: #f6e8ea;
        }
        &.map_color2{
          background-color: #edd2d7;
        }
        &.map_color3{
          background-color: #e3bbc2;
        }
        &.map_color4{
          background-color: #daa5ae;
        }
        &.map_color5{
          background-color: #d18e9a;
        }
        &.map_color6{
          background-color: #c87786;
        }
        &.map_color7{
          background-color: #be6071;
        }
        &.map_color8{
          background-color: #b54a5d;
        }
        &.map_color9{
          background-color: #ac3349;
        }
        &.map_color10{
          background-color: #a31d35;
        }
*/        
      }
    }
  }
}

