@import "twitter/bootstrap/mixins";

#thumbs {
  & > ul > li {
    display: block;
    float: left;
    width: 5.882352941%;
    margin: 0px;
    a {
      display: block;
      position: relative;
      &:hover img:last-child, img:first-child, &.active img:last-child {
        .opacity(100);
      }
      &:hover img:first-child, img:last-child, &.active img:first-child {
        .opacity(0);
      }
      img {
        display: block;
        position: relative;
        z-index: 1;
        .transition(opacity .25s linear);
        &:last-child {
          position: absolute;
          z-index: 2;
          top: 0px;
          left: 0px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  #thumbs ul > li {
    width: 8.333333333%;
  }
}

@media (max-width: 600px) {
  #thumbs ul > li {
    width: 11.111111111%;
  }
}

#soldier_profiles{
  .soldier_profile{
    padding: 20px;
    display: none;
    .soldier_photo{

    }
    .soldier_bio{

    }
    .soldier_incident{

    }
    .soldier_nav{
      li {
        a {
          display: block;
          position: relative;
          &:hover img:last-child, img:first-child, &.active img:last-child {
            .opacity(100);
          }
          &:hover img:first-child, img:last-child, &.active img:first-child {
            .opacity(0);
          }
          img {
            display: block;
            position: relative;
            z-index: 1;
            .transition(opacity .25s linear);
            &:last-child {
              position: absolute;
              z-index: 2;
              top: 0px;
              left: 0px;
            }
          }
        }
      }
    }
  }

}

#charts{
  & > div{
    float: left;
    width: 300px;
    height: 230px;
    margin: 15px;
    &#chart_rank, &#chart_served_with{
      width: 500px;
      min-height: 300px;
    }
    &#chart_date_died{
      float: none;
      clear: both;
      width: 100%;
      margin: 15px;
    }
  }
}


